body {
  margin: 0;
  text-align: center; /*only works with block elements
  that cover the full width, WITHOUT a width set*/
  font-family: 'Merriweather', serif;
  background-color: #fcfefe;
  color: #40514E;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  /*margin: 0 auto; /*center elements with width*/
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;

}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.topContaniner {
  background-color: #eaf6f6;
  padding-top: 100px;
  position: relative;
}

.middleContainer {
  width: 60%;
  margin: 20px auto;
  line-height: 2;
}

.bottomContainer {
  background-color: #f76b8a;
  padding: 15px;
}

.skill-row {
  text-align: left;
}

.underline {
  text-decoration: underline;
}

.bottomCloud {
  position: absolute;
  left: 250px;
  top: 330px;
}

.topCloud {
  position: absolute;
  right: 250px;
  top: 50px;
}

.introImg {
  width: 20%;
  height: 25%;
}

.profileImg {
  margin-top: 20px;
  width: 50%;
  border-radius: 50%;
}

.chemistryImg {
  float: left;
  margin-right: 30px;
}

.developmentImg {
  float: right;
  margin-left: 30px;
}

.footer-link {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 0.8rem;
  margin: 15px;
  line-height: 2;
}

.copyright {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  line-height: 0;
}

.btn {
	box-shadow: 0 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #66BFBF 5%, #408c99 100%);
	background-color:#66BFBF;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:13px 32px;
  margin: 10px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #66BFBF 100%);
	background-color:#408c99;
}
.btnn:active {
	position:relative;
	top:1px;
}
